<html>
<head>
  {% load static %}
  {% load tags %}
  <link rel="stylesheet" type="text/css" href="{% static 'fuelest/main.css' %}">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <title>Fuel Price Estimation Tool</title>
  {% block headspace %}
  {% endblock %}
</head>
<body>
<h1 class="title">Fuel Price Estimation Tool</h1>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link" href="/index">Index</a></li>
        {% if profile_made %}
        <li class="nav-item"><a class="nav-link" href="/profile">View/Edit Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="/quotes/generate">Generate A Quote</a></li>
        <li class="nav-item"><a class="nav-link" href="/quotes/history">View Quote History</a></li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="/profile/edit">Create Your Profile!</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<span class="content">
  {% block content %}
  {% endblock %}
</span>
</body>
</html>
